*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #29313a;
    color: wheat;
}
input[type="text"]{
    font-size: 1.2rem;
    color: wheat;
    background-color: transparent;
    border: 2px solid wheat;
    margin-left: 40px;
    margin-top: -10px;
    padding-left: 15px;
    width: 20vw;
    height: 2.5vw;
}
.logo{
    width: 50px;
    height: 50px;
    margin-top: -1vh;
    margin-left: -1vw;
}
table{
    width: 60vw;
    height: 40vw;
    border: 2px solid wheat;
    margin: auto;
}
.nav-bar{
    width: 100%;
    height: 80px;
    border-bottom: 5px solid wheat;
}
.nav-bar ul li{
    margin-top: 20px;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 650;
}
.left-nav ul li{
    float: left;    
    list-style-type: none;
    margin-left: 30px;
}
.right-nav ul li{
    float: right;    
    list-style-type: none;
    margin-left: 40px;
    margin-right: 30px;
}
table{
    margin-top: 5vh;
}
th{
    font-size:1.8rem;
    border-bottom: 2px solid wheat;
}

td{
    border-bottom: 1px solid wheat;
    text-align: left;
    font-size: 1.5rem;
    padding-left: 3vw;
}
.price-column{
    color: rgb(26, 235, 95);
}
.coin-icon{
    width: 3vw;
    height: 3vw;
    margin-right: 10px;
}
.footer{
    margin-top: 3%;
    border-top: 3px solid wheat;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
footer div{
    margin-top: 20px;
    padding-bottom: 20px;
}
footer span{
    font-size: 2rem;
    margin-left: 30px;
}
footer ul li{
    list-style-type: none;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
}