<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="trade.css">
    <script src="coin_api.js" defer></script>
    <title>To The Moon</title>
</head>

<body>
    <nav class="nav-bar">
        <div class="left-nav">
            <ul>
                <li><img src="/images/logo.png" class="logo"></li>
            </ul>
        </div>
        <div class="right-nav">
            <ul>
                <li id="log-out">Log Out</li>
                <a href="/search"><li id="trade-page">Trade</li></a>
            </ul>
        </div>
    </nav>
    <div class="coin-table" id="coin-table-div">
        <h1>Welcome <%= currentUser.fullname %></h1>
        <table>
            <tr>
                <th>Coin Ranking</th>
                <th>Coin Name</th>
                <th>Coin Id</th>
                <th>Price - AUD</th>
            </tr>
            <tr>
                <td>#1</td>
                <td> <img src="/images/icons/btc.png" class="coin-icon">Bitcoin</td>
                <td>BTC</td>
                <td class="price-column" id="coin1"></td>
            </tr>
            <tr>
                <td>#2</td>
                <td><img src="/images/icons/eth.png" class="coin-icon">Ethereum</td>
                <td>ETH</td>
                <td class="price-column" id="coin2"></td>
            </tr>
            <tr>
                <td>#3</td>
                <td><img src="/images/icons/dash.png" class="coin-icon">Dash</td>
                <td>DASH</td>
                <td class="price-column" id="coin3"></td>
            </tr>
            <tr>
                <td>#4</td>
                <td><img src="/images/icons/doge.png" class="coin-icon">Doge Coin</td>
                <td>DOGE</td>
                <td class="price-column" id="coin4"></td>
            </tr>
            <tr>
                <td>#5</td>
                <td><img src="/images/icons/uni.png" class="coin-icon">Uniswap</td>
                <td>UNI</td>
                <td class="price-column" id="coin5"></td>
            </tr>
            <tr>
                <td>#6</td>
                <td><img src="/images/icons/usdc.png" class="coin-icon">U.S Dollar Coin</td>
                <td>USDC</td>
                <td class="price-column" id="coin6"></td>
            </tr>
            <tr>
                <td>#7</td>
                <td><img src="/images/icons/ltc.png" class="coin-icon">Litecoin</td>
                <td>Lite</td>
                <td class="price-column" id="coin7"></td>
            </tr>
            <tr>
                <td>#8</td>
                <td><img src="/images/icons/btch.png" class="coin-icon">Bitcoin Cash</td>
                <td>Btc Cash</td>
                <td class="price-column" id="coin8"></td>
            </tr>

        </table>
    </div>

    <footer class="footer">
        <div class="left-footer">
            <span class="footer-header">
                Contact Us
            </span>
            <ul>
                <a href="tel:+61433522985"><li><i class="fas fa-phone-square-alt"></i> 1800 888 888</li></a>
                <li><i class="fas fa-envelope-square"></i> ToTheMoon@gmail.com</li>
                <a href="https://www.google.com/maps/place/CBD,+Melbourne+VIC+3000/@-37.8112451,144.9543962,15z/data=!4m13!1m7!3m6!1s0x6ad642caf37771c5:0x834e664d24dced61!2sCBD,+Melbourne+VIC+3000!3b1!8m2!3d-37.8123652!4d144.9623382!3m4!1s0x6ad642caf37771c5:0x834e664d24dced61!8m2!3d-37.8123652!4d144.9623382" target="_blank">
                <li><i class="fas fa-map-marked"></i> 5188 Melbourne Lane, VIC, 3000</li></a>
            </ul>
        </div>
        
        <div class="mid-footer">
            <span>Learn</span>
            <ul>
                <a href="https://www.investopedia.com/terms/c/cryptocurrency.asp" target="_blank"><li>What is cryptocurrency?</li></a>
                <a href="https://www.investopedia.com/terms/b/blockchain.asp" target="_blank"><li>What is a blockchain?</li></a>
                <a href="https://www.investopedia.com/news/how-bitcoin-works/" target="_blank"><li>What is Bitcoin?</li></a>
            </ul>
        </div>
        <div class="right-footer">
            <span>Social</span>
            <ul>
                <a href="https://www.facebook.com/" target="_blank"><li><i class="fab fa-facebook-square"></i> Facebook</li></a>
                <a href="https://twitter.com/home" target="_blank"><li><i class="fab fa-twitter-square"></i> Twitter</li></a>
                <a href="https://www.instagram.com/" target="_blank"><li><i class="fab fa-instagram-square"></i> Instagram</li></a>
            </ul>
        </div>
    </footer>
</body>

</html>