<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="trade.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.0.2/build/global/luxon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.1.0/dist/chartjs-adapter-luxon.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@2.0.0/dist/chartjs-plugin-streaming.min.js"></script>
    <script src="trade.js" type="module" defer></script>
    <title>To The Moon</title>
</head>

<body>
    <nav class="nav-bar">
        <div class="left-nav">
            <ul>
                <a href="/home">
                    <li><img src="/images/logo.png" class="logo"></li>
                </a>
                <li>
                    <form action="" id="search-form">
                        <input type="text" class="userinput" placeholder="Enter Cryptocurrency...">
                        <button id="search-btn">Search</button>
                    </form>
                </li>
            </ul>
        </div>
        <div class="right-nav">
            <ul>
                <li>Log Out</li>
                <li>History</li>
                <li>Account</li>
            </ul>
        </div>
    </nav>

    <div class="page-body">
        <div class="display-balance">
            <h2>Account Balance</h2>    
            <h3>$ <%= currentUser.accountBalance %></h3>
        </div>

        <div class="trading-section">
            <section id="coin-chart" class="coin-chart">
                <canvas id="coin-graph">

                </canvas>
            </section>
            <div class="trade-area">
                <input type="text" class="stock-amount" placeholder="$ " id="stock-amount">
                <button class="stock-btn buy" id="buy-btn">Buy</button>
            </div>
            <div class="purchase-history">

            </div>
        </div>

        <div class="transaction-side" id="transaction-history">
            <h2>Transactions</h2>
            <div class="row-description">
                <span>Coin</span>
                <span>Amount - $</span>
                <span class="price-tag">Coin Price</span>
                <span>  </span>
            </div>
        </div>

    </div>
</body>

</html>