<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="trade.css">
    <script src="coin_api.js" defer></script>
    <title>ToTheMoon</title>
</head>

<body>
    <nav class="nav-bar">
        <div class="left-nav">
            <ul>
                <li><img src="/images/logo.png" class="logo"></li>
                <li><input type="text" placeholder="Enter Cryptocurrency..."></li>
            </ul>
        </div>
        <div class="right-nav">
            <ul>
                <li>Log Out</li>
                <li>History</li>
                <li>Account</li>
            </ul>
        </div>
    </nav>
    <div class="coin-table" id="coin-table-div">
        <table>
            <tr>
                <th>Coin Ranking</th>
                <th>Coin Name</th>
                <th>Coin Id</th>
                <th>Price - AUD</th>
            </tr>
            <tr>
                <td>1</td>
                <td> <img src="/images/icons/btc.png" class="coin-icon">Bitcoin</td>
                <td>BTC</td>
                <td class="price-column" id="coin1"></td>
            </tr>
            <tr>
                <td>2</td>
                <td><img src="/images/icons/eth.png" class="coin-icon">Ethereum</td>
                <td>ETH</td>
                <td class="price-column" id="coin2"></td>
            </tr>
            <tr>
                <td>3</td>
                <td><img src="/images/icons/dash.png" class="coin-icon">Dash</td>
                <td>DASH</td>
                <td class="price-column" id="coin3"></td>
            </tr>
            <tr>
                <td>4</td>
                <td><img src="/images/icons/doge.png" class="coin-icon">Doge Coin</td>
                <td>DOGE</td>
                <td class="price-column" id="coin4"></td>
            </tr>
            <tr>
                <td>5</td>
                <td><img src="/images/icons/uni.png" class="coin-icon">Uniswap</td>
                <td>UNI</td>
                <td class="price-column" id="coin5"></td>
            </tr>
            <tr>
                <td>6</td>
                <td><img src="/images/icons/usdc.png" class="coin-icon">U.S Dollar Coin</td>
                <td>USDC</td>
                <td class="price-column" id="coin6"></td>
            </tr>
            <tr>
                <td>7</td>
                <td><img src="/images/icons/ltc.png" class="coin-icon">Litecoin</td>
                <td>Lite</td>
                <td class="price-column" id="coin7"></td>
            </tr>
            <tr>
                <td>8</td>
                <td><img src="/images/icons/btch.png" class="coin-icon">Bitcoin Cash</td>
                <td>Btc Cash</td>
                <td class="price-column" id="coin8"></td>
            </tr>

        </table>
    </div>

    <footer class="footer">
        <div class="left-footer">
            <span class="footer-header">
                Contact Us
            </span>
            <ul>
                <li>Phone: 1800 888 888</li>
                <li>Email: ToTheMoon@gmail.com</li>
                <li>Address: 5188 Melbourne Lane, VIC, 3000</li>
            </ul>
        </div>
        <div class="mid-footer">
            <span>Learn</span>
            <ul>
                <li>What is cryptocurrency?</li>
                <li>What is a blockchain?</li>
                <li>What is Bitcoin?</li>
            </ul>
        </div>
        <div class="right-footer">
            <span>Social</span>
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
            </ul>
        </div>
    </footer>
</body>

</html>